.controls {
	position: absolute;
	top: 10px;
	left: 50%;
	height: 44px;
	transform: translateX(-50%);
	z-index: 100000;

	&__car, &__bus, &__walk {
		width: 44px;
		height: 44px;
		margin-right: 5px;
		border: none;
		border-radius: 50%;
		z-index: 1000000;
		cursor: pointer;
		transition: box-shadow 0.3s;

		&:last-child {
			margin-right: 0;
		}

		&:hover,&:focus {
			box-shadow: 0 0 15px rgba(0,0,0,.7);
		}
	}

	&__car {
		background: url(../img/car.png) center center no-repeat;
		background-size: cover;
	}

	&__bus {
		background: url(../img/bus.png) center center no-repeat;
		background-size: cover;
	}

	&__walk {
		background: url(../img/walk.png) center center no-repeat;
		background-size: cover;
	}

}